extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet" href="/css/main.css")

block content
  section.page 
    .cover 
      .login_content.cover__content
        .login_content_header
          h1 Web quản lý
          p Thiết bị hỗ trợ kiểm soát khí thải đầu ra xe máy
        .login_content_body
          form(action="./addUser" method="post").cover__form
            div.input-group
              input(type="text" name="userName" placeholder="Tên người dùng" required).form-control
            div.input-group
              input(type="tel" name="numberPhone" placeholder="Số điện thoại" required).form-control
            div.input-group
              input(type="text" name="address" placeholder="Địa chỉ" required).form-control
            div.input-group
              input(type="password" name="password" placeholder="Mật khẩu" required).form-control
            div.input-group
              input(type="password" name="xacNhanMatKhau" placeholder="Xác nhận mật khẩu" required).form-control
            div.button-login
              button(id="login" type="submit").button--yellow Đăng ký
          .login_navigation
            p Đã có tài khoản
              span 
                a(href="./") Đăng nhập
  script(src="/js/jquery-3.6.0.js") 
  script(src="/js/jquery.waypoints.min.js") 
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous") 
  script(src="/js/main.js") 