.page {
  background-color: $color-blue-0;
  // height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .login_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    .login_content_header {
      margin-top: 1.5rem;
    }
  }
}
